<!DOCTYPE html>
<html>
<head>
  <title>El7a2ny</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: 'layouts/flash_messages'%>
<%= render partial: 'layouts/session'%>
<%= yield %>

</body>
</html>
