<h1>Update</h1>
<%= form_for @user, :html => {:multipart => true} do |f| %>
    <%= f.error_messages %>
	<%= f.label :name %>
	<br/>
	<%= f.text_field :name%>
	<br/>
	<%= f.label :first_name%>
	<br/>
	<%= f.text_field :first_name%>
	<br/>
	<%= f.label :last_name%>
	<br/>
	<%= f.text_field :last_name%>
	<br/>
	<%= f.label :city%>
	<br/>
	<%= f.text_field :city%>
	<br/>
	<%= f.label :country%>
	<br/>
	<%= f.text_field :country%>
	<br/>
	<%= f.file_field :profile_picture_url %>
	<br/>
	<%= f.label :gender%>
	<br/>
	<%= f.radio_button :gender, 'male' %> 
    <%= label :male, 'Male' %>
    <%= f.radio_button :gender, 'female' %>
    <%= label :female, 'Female' %>
    <br/>
	<%= f.label :birth_date%>
	<br/>
	<%= f.date_select :birth_date, :order => [:day, :month, :year],:start_year => 1910, :end_year => Date.current.year %>
	<br/>
	<%= f.submit 'Update' %>

<% end %>